<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Cadastros</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"/>
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<header>
		  <nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Mercadinho Gosling</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/estados" class="waves-effect waves-teal btn-flat"><i
			class="material-icons left">control_point</i>Cadastrar Estado</a></li>
		        
		      </ul>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/cidades" class="waves-effect waves-teal btn-flat"><i
			class="material-icons left">control_point</i>Cadastrar Cidade</a></li>
		      </ul>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/cliente" class="waves-effect waves-teal btn-flat"><i
			class="material-icons left">control_point</i>Cadastrar cliente</a></li>
		        
		      </ul>
		    </div>
		  </nav>
	</header>
	<br/>
	<br/>
	
	
	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>